# Никаких преобразований переводов строк. Сборка склеивает 28 файлов в один,
# и если бы git менял окончания строк при выгрузке, на стыках модулей получилась
# бы каша из CRLF и LF. Байты в репозитории и на диске должны совпадать.
* -text
